version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: dex-mainnet
      POSTGRES_USER: lootex
      POSTGRES_PASSWORD: lootexpassword
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U lootex -d dex-mainnet"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pg_data: