version: "3.6"

networks:
  dex-internal:
    name: dex-internal
services:
  redis:
    container_name: dex-redis
    image: bitnami/redis
    ports:
      - 6379:6379
    networks:
      - dex-internal
    restart: always
    volumes:
      - ./redis/data:/data
    environment:
      - REDIS_PASSWORD=password123

  postgres:
    container_name: postgres
    image: postgres:14.4
    environment:
      - POSTGRES_DB=dex
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/pg_data
      - POSTGRES_HOST_AUTH_METHOD=password
    ports:
      - 5432:5432
    restart: always
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - dex-internal

  migration:
    image: han0110/goose:latest
    container_name: migration
    working_dir: /migrations
    command: ["up"]
    volumes:
      - ./migrations:/migrations:ro
    environment:
      DB_DRIVER: postgres
      DB_NAME: dex
      HOST: postgres
      USER: postgres
      PASSWORD: postgres
      PORT: 5432
    networks:
      - dex-internal
    depends_on:
      - postgres
    links:
      - postgres:postgres

  postgres-test:
    container_name: postgres-test
    image: postgres:14.4
    environment:
      - POSTGRES_DB=test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/pg_data
      - POSTGRES_HOST_AUTH_METHOD=password
      - PGPORT=5433
    command: postgres -c 'max_connections=1000'
    ports:
      - 5433:5433
    restart: always
    networks:
      - dex-internal

  migration-test:
    image: han0110/goose:latest
    container_name: migration-test
    working_dir: /migrations
    command: ["up"]
    volumes:
      - ./migrations:/migrations:ro
    environment:
      DB_DRIVER: postgres
      DB_NAME: test
      HOST: postgres-test
      USER: postgres
      PASSWORD: postgres
      PORT: 5433
    networks:
      - dex-internal
    depends_on:
      - postgres-test
    links:
      - postgres-test:postgres-test
